:root {
  --border-color: rgba(0, 0, 0, 0.2);
  --border-radius: 5px;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}
input,
button {
  font-size: 1rem;
  color: inherit;
  border-radius: var(--border-radius);
}
button {
  cursor: pointer;
  border: none;
  padding: 14px 20px;
  white-space: nowrap;
}
input {
  border: 1px solid var(--border-color);
  padding: 12px 8px;
  width: 100%;
  resize: none;
}
.App {
  height: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}
.modal__header__text {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}
.product__list li {
  height: 170px;
  background: var(--color-gray);
  flex: 1 1 calc(30% - 4px);
  gap: 10px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input__container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.product__img {
  border-radius: 10px;
  width: 150px;
  max-height: 100px;
}
.card {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}
